* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: var(--light-text);
}
:root {
  --pad: 5%;
  --link-width: 135px;
  --link-height: 135px;
  --header-pad: 30px;
  --content-pad: 20px 20px 30px 30px;
  --menu-pad: 20px 20px 30px 30px;
  --light-text: white;
  --max-width: 1024px;
  --bright-border: #6c4e44;
}
body {
  margin: 0px;
  background-color: rgb(17, 16, 16);
}
a {
  color: white;
}
header {
  display: flex;
  justify-content: left;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}
button {
  background-color: #3ebea3;
  margin: 20px;
  padding: 10px;
  border-radius: 12px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
}
.head-content {
  padding: var(--header-pad);
}
main {
  padding: var(--content-pad);
  max-width: var(--max-width);
  padding: 0px;
  margin: 0 auto;
  margin-top: 0px;
  background-color: white;
  z-index: -2;
  position: relative;
  height: 100%;
}
/*
content {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 0px;
  height: 50vh;
  display: block;
  position: relative;
  top: 0px;
  color: black;
}
*/
.text {
  margin-top: -50px;
  width:100%;
  padding: var(--content-pad);
  display:flex;
  justify-content: center;
}
.middle {
  margin: 0px 50px 0px 50px;
}
.loggor {
  max-width: 200px;
  width: 33%;
  justify-content: center;
  text-align: center;
  color: black;
}
.code-img {
  margin-bottom: 20px;
}
#main-img {
  position: relative;
  top: -80px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0px;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;
}
#logga {
  position: relative;
  width: 70%;
}
#search {
  position: relative;
  width: 30%;
  text-align: center;
}
#menu {
  position: relative;
  display: flex;
  justify-content: right;
}
#menu-layer1 {
  display: none;
  z-index: 2;
  opacity: 1;
  padding: var(--menu-pad);
  justify-content: right;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}
.menu-item {
  padding: 10px 0px 10px 0px;
}
.menu-item2 {
  position: relative;
  left: 20px;
  padding: 10px 0px 10px 0px;
}
#trans-layer {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 1;
}
#alert-box {
  width: 300px;
  background-color: #3ebea3;
}
