$buttonColor: #3ebea3;
$buttonHoverColor: #1d584b;
$buttonShadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
$inputBg: black;
$inputBorder: 1px solid #b8b7b7;
$linkWidth: 135px;
$linkHeight: 135px;
$headerPad: 5px 15px 0px 15px;
$headerPadMob: 0px 0px 0px 0px;
$contentPad: 20px 20px 30px 30px;
$contentPadMob: 0px 20px 0px 30px;
$textPad: 20px 35px 20px 35px;
$menuPad: 30px 60px 30px 30px;
$menuPadMob: 10px 40px 10px 40px;
$maxWidth: 1024px;
$headerBg: rgba(0, 0, 0, 0.8);
$headerBgMob: rgba(0, 0, 0, 0.6);
$greyText: #d5d5d5;
$darkText: #000000;
$lightText: white;
$menuText: rgb(255, 0, 174);
$lightBg: white;
$darkBg: rgb(0, 0, 0);
$bodyBg: rgb(17, 16, 16);
$imgShadow: rgba(0, 0, 0, 0.6) 0px 2px 8px;
$transColor: rgb(255, 255, 255, 0.6);
$menuPad: 10px 0px 10px 0px;
$menuLines: 1px solid grey;
$font1: "Open Sans", sans-serif;
$font2: "Roboto", sans-serif;


